.card-employment{
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  width: 270px;
  height: 390px;
  display: grid;
  grid-template-rows: auto auto 1fr; /* 3 строки, последняя занимает все пространство */
  gap: 15px;

  svg{
    height: 70%;
  }
  .svg {
    display: grid;
    place-items: center;
  }

  .title{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    align-self: center;
  }


  .text{
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 650px) {
    width: 100%;
    height: auto;
    svg{
      height: 70%;
      margin: 0;
    }
    .title{
      font-size: 14px;
    }
    .text{
      font-size: 14px;
    }
    .svg {
      margin: 0;
      height: 40px;
    }
  }
}
/* Карточка занятости (card-employment) */
body.dark-theme .card-employment {
  //background-color: #1e1e1e !important;
  border: 1px solid #333 !important;
}

body.dark-theme .card-employment .title {
  color: #ffffff !important;
}

body.dark-theme .card-employment .text {
  color: #ffffff !important;
}

/* SVG иконки внутри карточки занятости */
body.dark-theme .card-employment svg path {
  fill: #ffffff !important;
}

body.dark-theme .card-employment svg rect {
  fill: #ffffff !important;
}
